html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// define css var
:root {
  --header-height: 40px;
}

body {
  background: #8db9ca;
}

  
a {
  color: #005670;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  padding: 0 5%;
  background: #0085ad;
  color: white;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  
  .logo {
    font-size: 34px;
    align-self: center;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      padding: 0 0 0 8px;
      display: inline-block;
    }
  }
}

main {
  height: calc(100vh - var(--header-height));
  margin: var(--header-height) 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 180px 500px 308px;
  grid-column-gap: 12px;
  grid-template-areas: 'nav feed right-bar'; // ste names for each column
  
  @media (min-width: 1200px) {
    padding-right: 200px; // uncenter by 200px on the right    
  }
}

.side-nav {
  border: 3px dashed;
  grid-area: nav;
}

.news-feed {
  grid-area: feed; // define on which column we want this element
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
}

.services {
  border: 3px dashed;
  grid-area: right-bar;
}

.post {
  background: white;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  margin-top: 1rem;
}

.post__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.post__info {
  margin-left: 10px;
  a, span {
    display: block;
  }
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.post__content {
  img {
    width: 100%;
  }
}

.post__engage {
  margin: 0.5rem 0;
}

.comment {
  background: #eee;
  margin: 0 -10px -10px; // override 10px padding from parent by using negative margins
  padding: 10px;
  border-top: solid 1px #ccc;
  display: flex;

  input {
    width: 100%;
    margin-left: 10px;
    border-radius: 20px;
    border: solid 1px #ccc;
    padding: 10px 20px;
  }
}